.list-item-ct {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  border: 1px black solid;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.71);
  max-width: 450px;
}

.list-ct {
  height: 100%;
  max-width: 450px;
}

.list-item-card {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 3%;
  gap: 5px;
}

.outer-list-ct {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-title {
  font-size: 250%;
  font-weight: 300;
  font-family: Arial Black;
  color: rgb(28, 11, 179); 
}

.person {
  font-weight: bolder;
}

.star-value {
  font-weight: bold;
  color: rgb(204, 176, 20);
}

.list-complete {
  background-color: rgba(0, 255, 255, 0.476);
  border-radius: 5px;
  display: flex;
  align-items: flex-end;
}
/* 
li {
  list-style-type: none;
} */

.star-value {
  align-items: flex-end;
}