body, html {
  height: 100%;
}

.outer-ct {
  background: URL(https://img.freepik.com/premium-vector/cleaning-tools-object-seamless-pattern-vector-graphic_7087-1889.jpg?w=2000);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cleaning-list-card {
  border: 1px black solid;  
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 200px;
  max-height: 200px;
  min-height: 100px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.71);
  margin: 3%;
}

.cleaning-list-card p {
  margin: 5px;
}

.cleaning-list-ct {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 100%;
}

.cleaning-list-card .title {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: .5rem;
  font-family: var(--font-family1);
}

.cleaning-list-card .subtitle {
  font-family: var(--font-family1);
}

.view-list {
  background-color: gray;
  border-radius: 5px;
  color: white;
}

.outer-ct {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cleaning-list-title {
  font-size: 250%;
  font-weight: 300;
  font-family: Arial Black;
  color: rgba(28, 11, 179, 0.899);
}

.reset-list {
  background-color: rgba(28, 11, 179, 0.899);
  border-radius: 5px;
  color: white;
  padding: 12px 28px;

}

/* LIST ITEM VIEW */
/* body {
  background: URL(  background: URL(https://thumbs.dreamstime.com/b/cleaning-tools-sketch-seamless-pattern-hand-drawn-cartoon-icons-bucket-sponge-mop-gloves-spray-brush-shovel-doodle-drawing-66215943.jpg);
  background-size: cover;
  background-attachment: fixed;
} */

/* MONDAY */
/* body {
  background: URL(https://img.freepik.com/free-vector/bathroom-interior-vintage-french-provence-style-illustration_33099-799.jpg?w=2000);
  background-size: cover;
  background-attachment: fixed;
} */

/* TUESDAY */
/* body {
  background: URL(https://thumbs.dreamstime.com/z/kid-bedroom-background-illustration-kid-bedroom-background-139245806.jpg);
  background-size: cover;
  background-attachment: fixed;
} */

/* WEDNESDAY */
/* body {
  background: URL(https://img.freepik.com/free-vector/modern-kitchen-interior-background-template-cartoon-dinner-room-with-furniture_33099-131.jpg?w=2000);
  background-size: cover;
  background-attachment: fixed;
} */

/* THURSDAY */
/* body {
  background: URL(https://img.freepik.com/free-vector/modern-kitchen-interior-background-template-cartoon-dinner-room-with-furniture_33099-131.jpg?w=2000);
  background-size: cover;
  background-attachment: fixed;
}
} */

/* FRIDAY */
/* body {
  background: URL(https://images.squarespace-cdn.com/content/v1/5a282561ace8649af35ab4e8/1512605147535-4YISBMER5A30LXY5YCI3/6.png;
  )
  background-size: cover;
  background-attachment: fixed;
} */

