:root {
  --font-family1: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

/* body {
  background: URL(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5grAEPT8-SbZMc3pKfPqMCXlQ3luZ1O8k7A&usqp=CAU);
  background-size: cover;
  background-attachment: fixed;
} */